@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.primaryColor {
  background-color: #048B68;
}


.error {
  color: black;
  font-size: 0.8rem;
  margin-top: 5px;
  padding: 4px;
  background-color: rgb(253, 134, 134);
  border-radius: 4px;
}
.defaultLabel {
  display: block;
  font-size: 0.875rem;
  font-weight: 500;
  color: #048B68;
  margin-bottom: 2px;
  margin-top: 2px;
}


.defaultTitle {
  margin-bottom: 1.5rem;
  font-size: 2rem;
  font-weight: 600;
  color: #048B68;
}
.defaultTitleWhite {
  margin-bottom: 1.5rem;
  font-size: 4rem;
  font-weight: 600;
  color: #ffffff;
}

.defaultInput {
  background-color: #f9fafb;
  border: 1px solid #d1d5db;
  color: #4b5563;
  font-size: 0.875rem;
  border-radius: 0.375rem;
  padding: 0.625rem;
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;
  width: 100%;
}

.defaultInput:focus {
  border-color: #048B68;
  box-shadow: 0 0 0 3px rgb(4, 139, 103);
}

/* Estilos específicos para pantallas pequeñas (sm) */
@media (min-width: 640px) {
  .defaultInput {
    font-size: 0.875rem;
  }
}

.defaultButton {
  width: 100%;
  background-color: #048B68;
  color: white;
  font-weight: 500;
  padding: 0.625rem 1.25rem;
  border-radius: 0.375rem;
  text-align: center;
  outline: none;
  transition: background-color 0.3s, box-shadow 0.3s;
  cursor: pointer;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.defaultButton:hover {
  background-color: #05ac7f;
}

.defaultButton:focus {
  box-shadow: 0 0 0 3px rgb(5, 172, 128);
  outline: none;
}

.defaultButtonNV {
  padding: 4px;
  background-color: #048B68;
  color: rgba(255, 255, 255, 0.534);
  font-weight: 500;
  border-radius: 0.375rem;
  text-align: center;
  vertical-align: middle;
  outline: none;
  transition: background-color 0.3s, box-shadow 0.3s;
  cursor: pointer;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
  
}

.defaultButtonNV:hover {
  background-color: #05ac7f;
  color: white;
}

.defaultButtonNV:focus {
  color: white;
}

.defaultButtonNV2 {
  padding: 4px;
  background-color: #048B68;
  color: rgb(255, 255, 255);
  font-weight: 500;
  border-radius: 0.375rem;
  text-align: center;
  vertical-align: middle;
  outline: none;
  transition: background-color 0.3s, box-shadow 0.3s;
  cursor: pointer;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
  
}

.defaultButtonNV2:hover {
  background-color: #05ac7f;
}

.redButton {
  width: 100%;
  background-color: #BD5E39;
  color: white;
  font-weight: 500;
  padding: 0.625rem 1.25rem;
  border-radius: 0.375rem;
  text-align: center;
  outline: none;
  transition: background-color 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

.redButton:hover {
  background-color: #d87148;
}

.redButton:focus {
  box-shadow: #d87148;
  outline: none;
}

.redButtonWA {
  background-color: #BD5E39;
  color: white;
  font-weight: 500;
  padding: 0.625rem 1.25rem;
  border-radius: 0.375rem;
  text-align: center;
  outline: none;
  transition: background-color 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

.redButtonWA:hover {
  background-color: #d87148;
}

.redButtonWA:focus {
  box-shadow: #d87148;
  outline: none;
}

.formDiv {
  width: 100%;
  background-color: white;
  border-radius: 0.375rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
}